<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Detecteur de temperature </title>
     <link rel="stylesheet" href="style.css">
<!--      <link rel="stylesheet" href="https://fonts.google.com/specimen/Anton">
 --> </head>
 <body>
          <header>
              <div class="container-invisible">
                  <h1 class="entete"> Temperature et Humidite </h1>
                  
              </div>
          </header> 
            
         
          <section id="image-principal">
            <div >
               <h2> 
                 <!-- affichage du jour -->
                 <div id="date"></div>
                 <!-- affichage de l'heure -->
                <div id="heure"></div>  
                <!-- affichage de la temperature -->
              </h2> 
            </div> 
              
                  <div id="info">
                     <h1>TEMPERATURE</h1>
                     <h1>HUMIDITE</h1>

                    <h3 id="tmp"></h3>
                    <h3 id="Hume"></h3>
                      
                    <div id="image"> </div> 
                   </div>

                   <div id="info_moy">
                    <h1>TEMPERATURE-MOYENNE</h1>
                    <h1>HUMIDITE-MOYENNE</h1>

                   <h3 id="tmp_moy"></h3>
                   <h3 id="Hume_moy"></h3>
                     
                   <div id="image"> </div> 
                  </div>
            
                   <!--
                     envois des dala temperature dans la base de donnée
                   -->
             
        
          </section>
          <section id="table">
            <div class="lef">
              <table>
                <div></div>
                <tr>
                  <th> heure</th>
                  <th> Temperature</th>
                  <th> Humidite</th>
                </tr>
                <tr>
                  <td> 8h</td>
                  <td id="tmp8h"></td>
                  <td id="humidity8h"></td>
                </tr>
                <tr>
                  <td> 12h</td>
                  <td id="tmp12h"></td>
                  <td id="humidity12h"></td>
                </tr>
                <tr>
                  <td> 19h</td>
                  <td id="tmp19h"></td>
                  <td id="humidity19h"></td>
                </tr>
              
              </table>
          
            </div>

          </section>
         
          <section id="contact">
            <div class="container-invisible">
              <h3>Contactez-nous</h3>
           <p>Simplon ADEFNIPA pour vous servir</p>
           <form>
             <label for="name">Nom</label>
             <input type="text" id="name" placeholder="votre nom">
             <label for="email">Email</label>
             <input type="text"id="email" placeholder="votre email">
             <!-- <input type="submit" value="ENVOYER" class ="button-3"> -->
             <button class ="button-3">ENVOYER</button>
           </form>
            </div>

          </section>
          <footer>
            <div class="container-invisible">
              <h1>Simplon ADEFNIPA <span class="orange">.</span></h1>
              <div class="copyright">Copyright @ 2021. Tous droits reverves.
              </div>
            </div>
        </footer>
        
        <script type="text/javascript" src="script.js"></script>
        
                   <script type="text/javascript">
                   date = date_heure();
                   window.onload =date
                  </script>

        <script>


          var socket = new WebSocket('ws://localhost:8082');// mettre l'address du serveur socket pour etablir la connexion
          socket.addEventListener("open",()=>console.log("you are connected"))
          socket.onmessage=function(event){// recuperer le message envoyer par le serveur
              //var message = JSON.parse(event.data);// convertir le tableau d'objet en fichier json
              var donne = event.data// stockage de la temperature dans la variable donne
              var temp = donne.slice(0,5)
              var humidite = donne.slice(5,10)
              document.getElementById('tmp').innerHTML=temp
              document.getElementById('Hume').innerHTML=humidite
              if(donne>26){
                document.getElementById('image').innerHTML='<img src="image/soleil1.png" alt="chaleur">'
              }
              else
                document.getElementById('image').innerHTML='<img src="image/tmp.png" alt="chaleur">'
          }

          var tempMoy = []
          var humpMoy = []          
          tmp.innerHTML = temp + "°C";
          hum.innerHTML = humidite + "%";            
          console.log(my_temp);        
            //temperature et humidite 8h, 12h et 19
              var temp_moyenne = document.getElementById('tmp_moy')
              var hum_moyenne = document.getElementById('Hume_moy')
          if (heure.getHours() == 08 && heure.getMinutes()== 00) {
              var tmp8h = document.getElementById('tmp8h')
              var humidity8h = document.getElementById('humidity8h')
              tmp8h.innerHTML = temp + "°C";
              humidity8h.innerHTML = humidite + "%";
              tempMoy.push(temp)
              humpMoy.push(humidite)          
            }else if (heure.getHours() == 12 && heure.getMinutes()== 00) {
              var tmp12h = document.getElementById('tmp12h')
              var humidity12h = document.getElementById('humidity12h')
              tmp12h.innerHTML = temp + "°C";
              humidity12h.innerHTML = humidite + "%";
              tempMoy.push(temp)
              humpMoy.push(humidite)          
            }
              else if (heure.getHours() == 20 && heure.getMinutes()== 42) {
              var tmp19h = document.getElementById('tmp19h')
              var humidity19h = document.getElementById('humidity19h')
              tmp19h.innerHTML = tmp + "°C";
              humidity19h.innerHTML = humidite + "%";
              tempMoy.push(temp)
              humpMoy.push(humidite)              
              //temperature et humidite moyenne
              for (let i = 0; i < 3; i++) {
                let somme1 = 0;
                var moy_tmp = 0;
                somme1 = somme1 + tempMoy[i]
                moy_tmp = somme1 / 3;
              }
              for (let i = 0; i < 3; i++) {
                let somme2 = 0;
                var moy_hum = 0;
                somme2 = somme2 + humpMoy[i]
                moy_hum = somme2 / 3;
              }
              temp_moyenne.innerHTML = moy_tmp + "°C"
              hum_moyenne.innerHTML = moy_hum + "%"              
              tempMoy.splice(0,3)
              humpMoy.splice(0,3)
          }

        </script>

 </body>
 </html>